body {
  margin: 0px;
  padding: 0px;
  overflow-y: auto;
}

.header-guest {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 100px;
  background-color: #ffffff;
}
